services:
  - type: static
    name: ez-trade-machinery
    env: node
    buildCommand: npm install && npm run build
    publishPath: dist
    routes:
      - type: rewrite
        source: "/*"
        destination: "/index.html"
