@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }

  .b-card-hover {
    @apply transition-all duration-300 ease-out p-[10px] rounded-[12px] border border-transparent cursor-pointer;
  }

  .b-card-hover:hover {
    @apply bg-white -translate-y-0 transform-none scale-[1.03] z-10 bg-[#ebebeb];
  }

  .form-label {
    @apply text-[#131214] font-inter text-[14px] font-medium leading-[100%] tracking-[0];
  }
}